<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2024 Paranoid Android

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomi.settings.ishtar"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-sdk
        android:minSdkVersion="31"
        android:targetSdkVersion="31"/>

    <application
        android:label="@string/app_name"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <service
            android:name=".camera.CameraApertureTileService"
            android:icon="@drawable/ic_cam_tile"
            android:label="@string/cam_aperture_toggle_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

    </application>
</manifest>

